.container {
  border: 1px solid purple;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  margin: 5px;
  width: 300px;
  display: flex;
  flex-direction: column;

  &__title {
    font-weight: 100;
  }

  &__button {
    color: purple; // I just really love purple
    text-shadow: 2px 2px white;
  }
}
