.App {
  min-height: 100vh;

  &__header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
  }

  &__logo {
    width: 100px;
    height: 100px;
    object-fit: cover;
  }

  &__title {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    vertical-align: sub;
  }

  &__patterns {
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
  }

  &__pattern {
    border: 1px solid purple;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    margin: 5px;
    width: 300px;
    display: flex;
    flex-direction: column;

    h3 {
      font-weight: 100;
    }
  }
}
